.modal {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 2px 2px 2px #dedede;
    text-align: center;
    padding-top: 70px;
}

.show {
    display: block
}

.hide {
    display: none
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.back {
    width: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
    opacity: 0.6;
}

.info {
    padding: 10px
}

.info label,
.info p,
.info h3 {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info h3 {
    font-size: 1.5em;
}

.info p {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.473);
}