.input {
    border-radius: 40px;
    height: 50px;
    width: 90%;
    border: 1px solid #999;
    padding: 10px;
    font-size: 1.2em;
}

.formbox {
    padding: 20px;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.button {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: rgb(213, 220, 224,0.63);
    border-radius: 50%;
    padding: 10px;
    border: none;
    text-align: center;
}

.button:hover {
    background-color: rgba(213, 220, 224);
}

.button img {
    width: 25px;
    margin-top: 2px;
}