.chatbox {
    display: flex;
    flex-direction: column;
}

.box {

    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    width: 40%;
    height: auto;

}

.send {
    background-color: #dedede;
    align-self: flex-end;
}

.receive {
    background-color: #5682a3;
    color: #dedede;
    align-self: flex-start;
}