.header {
    background-color: #5682a3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    z-index:10;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}